/* Google-fonts */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
   font-family: "Inter", sans-serif;
}

li,a{
   list-style: none;
   text-decoration: none;
}
h3{
   font-size: 55px;
   font-weight: bold;
}

/* Header-part */
header{
   max-width: 1140px;
   margin: auto;
}
.nav{
   display: flex;
   justify-content: space-between;
}
.nav img{
   width: 135px;
   padding: 20px 0 10px;
}
.nav-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-container ul{
   display: flex;
}
.nav-container ul li a{
   padding-right: 45px;
   color: #8987A1;
}
.nav-container span{
   display: flex;
   padding: 0px;
   gap: 10px;
}
.nav-container span p{
   margin: 0px;
}

/* Main-part */


/* This is banner section */

.banner{
   max-width: 1140px;
   margin: auto;
   margin-top: 80px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: end;
}
.banner h3{
   font-size: 65px;
}
.red{
   color: #E95A08;
}
.pera{
   font-size: 24px;
   color: rgba(0, 0, 0, 50%);
   padding-top: 10px;
}

/* This is plant section */
.plants{
   max-width: 1140px;
   margin: 100px auto;
   text-align: center;
}
.plants p{
   width: 900px;
   margin: auto;
}
.card-section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 50px;
   gap: 30px 15px;
}
.card{
   font-size: 24px ;
   line-height: 1.8;
}
.price{
   font-weight: bold;
}
.btn{
   font-size: 18px;
   background-color: #E95A08;
   width: 100%;
   padding: 15px;
   border: none;
   color: #fff;
}

/* This is plants lover section */

.plants-lover{
   max-width: 1140px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.lover-details{
   align-items: center;
   max-width: 540px;
}
.lover-details ul {
   margin-top: 20px;
   padding-left: 40px;
   margin-top: 2em;
   margin-bottom: 1em;
}
.lover-details ul li{
   font-size: 24px;
   list-style: disc;
   color: rgba(0, 0, 0, 50%);
   line-height: 1.3;
   margin-bottom: 10px;
}

/* This is Latest Deals Section */

.deals{
   max-width: 1140px;
   margin: 100px auto;
   text-align: center;
}
.deals p{
   width: 900px;
   margin: auto;
}
.latest-deals{
   margin-top: 80px;
   display: grid;
   height: 420px;
   grid-template-areas: "bloom  zabo"
   "ana  zabo";
   grid-template-columns: 1fr 2fr;
   gap: 25px;
   color: #fff;
}
.card-1{
   background-image: url(./../assets/deal-bloom.png);
   background-repeat: no-repeat;
   font-size: 20px;
   background-size: cover;
   grid-area: bloom;
  position: relative;
}
.card-2{
   background-image: url(./../assets/deal-ana.png);
   background-repeat: no-repeat;
   font-size: 20px;
   background-size: cover;
   grid-area: ana;
  position: relative;
}
.card-3{
   background-image: url(./../assets/deal-zabo.png);
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 40px;
   grid-area: zabo;
  position: relative;
}
.cd{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cd a{
   font-size: 16px;
   color: #fff;
   text-decoration: underline;
}
.card-3 a{
   font-size: 28px;
}

/* This is join Section */

.join{
   background-image: url(./../assets/news-letter-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   color: #fff;
   text-align: center;
   height: 520px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.join-login{
   display: flex;
   width: 830px;
   margin-top: 20px;
}
#mail{
   width: 100%;
   padding: 10px 20px;
   border: none;
}

.join-btn{
   width: 180px;
   font-size: 16px;
}
