/* Google-fonts */
*{
   margin: 0;
   padding: 0;
}
body{
   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
   font-family: "Inter", sans-serif;
}
li,a{
   list-style: none;
   text-decoration: none;
}
h3{
   font-size: 55px;
   font-weight: bold;
}

/* Header-part */
header{
   max-width: 1140px;
   margin: auto;
}
.nav{
   display: flex;
   justify-content: space-between;
}
.nav img{
   width: 135px;
   padding: 20px 0 10px;
}
.nav-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-container ul{
   display: flex;
}
.nav-container ul li a{
   padding-right: 45px;
   color: #8987A1;
}
.nav-container span{
   display: flex;
   padding: 0px;
   gap: 10px;
}
.nav-container span p{
   margin: 0px;
}

/* Main-part */
main{
   max-width: 1140px;
   margin: auto;
}

/* This is banner section */

.banner{
   margin-top: 80px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: end;
}
.banner h3{
   font-size: 65px;
}
.red{
   color: #E95A08;
}
.pera{
   font-size: 24px;
   color: rgba(0, 0, 0, 50%);
   padding-top: 10px;
}

/* This is plant section */
.plants{
   margin: 100px 0px;
   text-align: center;
}
.plants p{
   width: 900px;
   margin: auto;
}
.card-section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 50px;
   gap: 30px 15px;
}
.card{
   font-size: 24px ;
   line-height: 1.8;
}
.price{
   font-weight: bold;
}
.btn{
   font-size: 18px;
   background-color: #E95A08;
   width: 100%;
   padding: 15px;
   border: none;
   color: #fff;
}

/* This is plants lover section */

.plants-lover{
   display: flex;
   justify-content: space-between;
   margin: 50px 0px;
}
.lover-details{
   align-items: center;
   max-width: 540px;
}
.lover-details ul {
   margin-top: 20px;
   padding-left: 40px;
   margin-top: 2em;
   margin-bottom: 1em;
}
.lover-details ul li{
   font-size: 24px;
   list-style: disc;
   color: rgba(0, 0, 0, 50%);
   line-height: 1.3;
   margin-bottom: 10px;
}

/* This is Latest Deals Section */

